h1{
	font-size:82px;
	right:5px;
}
.photo{
	width:120px;
	height:120px;
}
.content{
	margin-right:5px;
	width:100%;
	margin-top:235px;
}
.block{
	width:100%;
}
.fa{
	padding-right:30px;
}
.table{
	font-size: 28px;
}
.badge{
	font-size: 28px;
}